<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chitietsanpham.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
    <link rel="icon" href="/image/Vinfast-logo.png" type="image/png">
    <title>VF3</title>
</head>

<body>
    <div class="container">
        <!--header-->
        <header class="fixed-header">
            <div class="logo">
                <img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt="Logo">
            </div>

            
        
            <div class="menu-toggle">☰</div> <!-- Nút mở menu -->
        
            <nav class="menu-nav">
                <ul class="menu-list">
                    
                    <li class="menu-item"><a href="/">Trang chủ</a></li>
                    <li class="menu-item"><a href="/sanpham">Sản phẩm</a></li>
                    <li class="menu-item"><a href="/lienhe">Liên hệ</a></li>
                    <% if (session && session.user) { %>
                        <li class="menu-item mobile-only" style="margin-left: auto;">
                            <a href="#">Xin chào, <%= session.user.usernameLogin %></a>
                        </li>
                        <li class="menu-item mobile-only">
                            <a href="#" onclick="confirmLogout()">Đăng xuất</a>
                        </li>
                    <% } else { %>
                        <li class="menu-item mobile-only" style="margin-left: auto;"><a href="/dangnhap">Đăng nhập</a></li>
                        <li class="menu-item mobile-only"><a href="/dangky">Đăng ký</a></li>
                    <% } %>
                    
            </nav>
        
            
        </header>

        <!-- Nội dung chính
        <div class="video-container">
            <video id="adVideo" autoplay loop muted playsinline>
                <source src="/video/VF3.mp4" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </div>
        -->

        <div class="bannerr">
            <img class="banner-vf33" src="<%= car.ImagePaths[0] %>" alt="">

        </div>


        <!-- Đặt cọc -->
         <div class="container_datcoc">
         <h4>Tùy chọn cho ngân sách của bạn.</h4>
         <div class="dat-coc">
            <h2>Giá bán</h2> 
            <div class="price">
                <p><%=car.Price%></p>
                <p class="vnd">VNĐ</p>
            </div>
        </div> 
        
         <button class="xemthemm" onclick="openDepositForm()">Đặt cọc 15.000.000 VNĐ</button>
        </div>

        <!-- Modal Form Đặt Cọc -->
        <div id="depositModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeDepositForm()">&times;</span>
                <h2>Đặt Cọc</h2>
                <form action="/dat-coc" class="signup-form" method="post">
                    <label>Phiên bản</label>
                    <div  class="inputForm">
                    <select id="car-model" name="iphone" class="car-model">
                        <option value="" style="text-align: center;"><%=car.Model%></option>  
                    </select>
                    </div>
                    <br>
                    <label>Màu sắc</label>
                    <div  class="inputForm">
                    <select id="car-model" name="iphone" class="car-model">
                        <option value="" style="text-align: center;"><%=car.Color%></option>  
                    </select>
                    </div>
                    <br>

                    <label>Họ Tên</label>
                    <div class="inputForm">
                        <input type="text" class="input" placeholder="Nhập vào họ và tên" name="fullName">
                    </div>

                    <label>Số điện thoại</label>
                    <div class="inputForm">
                        <input type="text" class="input" placeholder="Nhập số điện thoại" name="phoneNumber">
                    </div>

                    <label>Email</label>
                    <div class="inputForm">
                        <input type="email" class="input" placeholder="Nhập vào email" name="email">
                    </div>

                    <label>Số tiền đặt cọc</label>
                    <div class="inputForm">
                        <input type="text" class="input" value="15.000.000 VNĐ" readonly>
                    </div>

               
                    <label class="location" for="province">Chọn Tỉnh/Thành phố:</label>
                    <br>
                    <select id="province" onchange="loadDistricts()">
                        <option value="" disabled selected>Chọn tỉnh/thành</option>
                    </select>

                    <label class="location" for="district">Chọn Huyện/Thị xã:</label>
                    <select id="district" onchange="loadWards()" disabled>
                        <option value="" disabled selected>Chọn huyện/thị xã</option>
                    </select>

                    <label class="location" for="ward">Chọn Xã/Phường:</label>
                    <br>
                    <select id="ward" disabled>
                        <option value="" disabled selected>Chọn xã/phường</option>
                    </select>


                    <button class="button-submitt">Xác nhận đặt cọc</button>
                </form>
            </div>
        </div>


        <!-- QC1 -->
        <div class="content">
            <h4><%=detail.Title1%></h4>
            <p><%=detail.Describe1%></p>
            <img class="banner-vf3" src="<%= car.ImagePaths[1] %>" alt="">

        </div>

        <!-- QC2 -->
        <div class="content">
            <h4 style="margin-top: 50px;"><%=detail.Title2%>.</h4>
            <p><%=detail.Describe2%>
            </p>
            <img class="banner-vf3" src="<%= car.ImagePaths[2] %>" alt="">

        </div>

        <!-- QC3 -->
        <div class="content">
            <h4 style="margin-top: 50px;"><%=detail.Title3%></h4>
            <p><%=detail.Describe3%>
            </p>
            <img class="banner-vf3" src="<%= car.ImagePaths[3] %>" alt="">

        </div>

         <!-- QC4 -->
         <div class="content">
            <h4 style="margin-top: 50px;"><%=detail.Title4%></h4>
            <p><%=detail.Describe4%>
            </p>
            <img class="banner-vf3" src="<%= car.ImagePaths[4] %>" alt="">

        </div>

        <!-- QC5 -->
        <div class="content">
            <h4 style="margin-top: 50px;"><%=detail.Title5%></h4>
            <p><%=detail.Describe5%>
            </p>
            <img class="banner-vf3" src="<%= car.ImagePaths[5] %>" alt="">

        </div>

        <div class="VF3-in4">
            <h4>Thông số kỹ thuật</h4>
            <div class="in4">
                <p class="in4-1">Động cơ</p>
                <p class="in4-2"><%=car.Engine%></p>
            </div>
            <hr class="custom-hr">
            
            <!-- Dòng 2 -->
            <div class="in4">
                <p class="in4-1">Công suất tối đa (kW)</p>
                <p class="in4-2"><%=car.Cap_KW%></p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 3 -->
            <div class="in4">
                <p class="in4-1">Mô men xoắn cực đại (Nm)</p>
                <p class="in4-2"><%=car.Torque_NM%></p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 4 -->
            <div class="in4">
                <p class="in4-1">Tăng tốc</p>
                <p class="in4-2"><%=car.Accel%></p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 5 -->
            <div class="in4">
                <p class="in4-1">Quãng đường chạy một lần sạc đầy (km)</p>
                <p class="in4-2"><%=car.Range_KM%></p>
            </div>
            <hr class="custom-hr">

            <!-- Dòng 6 -->
            <div class="in4">
                <p class="in4-1">Thời gian nạp pin nhanh nhất</p>
                <p class="in4-2"><%=car.FastCharge%></p>
            </div>
            <hr class="custom-hr">
            <!-- Dòng 7 -->
            <div class="in4">
                <p class="in4-1">Dẫn động</p>
                <p class="in4-2"><%=car.Drivertrain%></p>
            </div>
            <hr class="custom-hr">

            <a href="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dwf8f185d0/Document/VF3_Brochure_VN_T10.pdf" target="_blank" class="xemthemm" style="font-family: Arial, Helvetica, sans-serif;">XEM THÊM</a>
           <br>
           <img class="vf3-nguoc" src="<%= car.ImagePaths[2] %>" alt="">
           


        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
                    <p>Công ty TNHH Kinh doanh Thương mại và Dịch vụ VinFast</p>
                    <p><strong>MST/MSDN:</strong> 0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.</p>
                    <p><strong>Địa chỉ trụ sở chính:</strong> Số 7, đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Thành phố Hà Nội, Việt Nam</p>
                </div>
                
                <div class="footer-middle">
                    <h4>Hệ sinh thái</h4>
                    <ul>
                        <li><a href="#">Vinhomes</a></li>
                        <li><a href="#">Vinpearl</a></li>
                    </ul>
                </div>
        
                <div class="footer-right">
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>📞 1900 23 23 89</p>
                    <p>📧 <a href="mailto:support.vn@vinfastauto.com">support.vn@vinfastauto.com</a></p>
                    
                    <h4>SPEAK-UP HOTLINE</h4>
                    <p>📞 +84 24 4458 2193</p>
                    <p>📧 <a href="mailto:v.speakup@vinfast.vn">v.speakup@vinfast.vn</a></p>
        
                    <h4>Kết nối với VinFast</h4>
                    <div class="social-icons">
                        <a href="#">
                            <i src="facebook-icon.png" alt="Facebook" class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i src="youtube-icon.png" alt="YouTube" class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer-bottom">
                <p>© Copyright 2025 | VinFast. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script>
        document.querySelector(".menu-toggle").addEventListener("click", function() {
            document.querySelector(".menu-nav").classList.toggle("active");
        });

                // Mở modal đặt cọc
        function openDepositForm() {
            document.getElementById("depositModal").style.display = "flex";
        }

        // Đóng modal đặt cọc
        function closeDepositForm() {
            document.getElementById("depositModal").style.display = "none";
        }

        // Đóng modal khi click ra ngoài
        window.onclick = function(event) {
            let modal = document.getElementById("depositModal");
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };

    </script>
    <script src="/src/public/js/dstinhthanh.js"></script>
</body>

</html>