<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/js/signup.js">
    <title>Login</title>
</head>

    <body>

        <header class="fixed-header">
            <div class="logo"><img src="https://storage.googleapis.com/dev-vinfast-vn-cmu-data/2022/08/00b5ffc0-vin-logo-vertical.png" alt=""></div>
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/">Trang chủ</a></li>
                    <li class="menu-item"><a href="/sanpham">Sản phẩm</a></li>
                    <li class="menu-item"><a href="/lienhe">Liên hệ</a></li>
                    <% if (session && session.user) { %>
                        <li class="menu-item mobile-only" style="margin-left: auto;">
                            <a href="#">Xin chào, <%= session.user.usernameLogin %></a>
                        </li>
                        <li class="menu-item mobile-only">
                            <a href="#" onclick="confirmLogout()">Đăng xuất</a>
                        </li>
                    <% } else { %>
                        <li class="menu-item mobile-only" style="margin-left: auto;"><a href="/dangnhap">Đăng nhập</a></li>
                        <li class="menu-item mobile-only"><a href="/dangky">Đăng ký</a></li>
                    <% } %>
                </ul>

            
        </header>
    
        <div class="content">
            <div class="container">
                
                
                <h2>Đăng ký</h2>
                <form action="/dangky-taikhoan" class="signup-form" method="post">
                    
                    
                    <label>Tài khoản</label>
                    <div class="inputForm">
                        <input type="text" class="input" placeholder="Nhập vào tên tài khoản" value="<%= oldData?.username || '' %>" name="username">
                    </div>
        
                    <label>Mật khẩu</label>
                    <div class="inputForm">
                        <input type="password" class="input" placeholder="Nhập vào mật khẩu" name="password" id="password">
                        <span class="togglePassword">👁</span>
                    </div>

                    <label>Nhập lại mật khẩu</label>
                    <div class="inputForm">
                        <input type="password" class="input" placeholder="Nhập vào mật khẩu" name="repassword" id="password">
                        <span class="togglePassword">👁</span>
                    </div>

                    <label>Họ và tên</label>
                    <div class="inputForm">
                        <input type="text" class="input" id="Fullname" placeholder="Họ và tên" value="<%= oldData.myname || '' %>" name="myname">
                        
                    </div>

                    <label>Email</label>
                    <div class="inputForm">
                        <input type="text" class="input" id="email" placeholder="Nhập vào email" 
                            value="<%= oldData.email || '' %>" name="email">
                    </div>
                    <p id="error" style="color:red;"></p>
        
                    <label>Số điện thoại</label>
                    <div class="inputForm">
                        <input type="number" class="input" id="Phone" placeholder="Số điện thoại" value="<%= oldData.phone || '' %>" name="phone">
                    </div>

                    <label>Địa chỉ</label>
                    <div class="inputForm">
                        <input type="text" class="input" id="Address" placeholder="Nhập vào địa chỉ" value="<%= oldData.address || '' %>" name="address">
                    </div>
                    <% if (message) { %>
                        <p style="color: red;"><%= message %></p>
                    <% } %>
                    <button class="button-submitt">Đăng ký</button> 
        
                    <p>Bạn đã có tài khoản? <a href="/dangnhap">Đăng nhập</a></p>
                </form>
            </div>
        </div>


        <script>
            document.querySelector(".signup-form").addEventListener("submit", function(event) {
                var email = document.getElementById("email").value;
                var regex = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;
                var errorElement = document.getElementById("error");
            
                if (!regex.test(email)) {
                    errorElement.innerText = "Email không hợp lệ! Vui lòng nhập đúng địa chỉ địa chỉ Gmail.";
                    event.preventDefault(); // Chặn form gửi đi
                } else {
                    errorElement.innerText = "";
                }
            });
            </script>
            
       
        
    
    </body>
    <script src="/js/signup.js"></script>
    <script src="/js/lam.js"></script>
</html>