<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa TK</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="icon" href="/image/Vinfast-logo.png" type="image/png">
</head>
<body>
    <div id="modalForm" class="modal">
        <div class="register-container">
          
            <h2>Sửa tài khoản</h2>
            <form action="/admin/sua-taikhoan" class="signup-form" method="post">
                <label>Tài khoản</label>
                <div class="inputForm">
                    <input type="text" class="input" placeholder="Nhập vào tên tài khoản" name="username" value="<%= ListUsers.UserName %>" readonly>
                </div>
                
                <label>Mật khẩu</label>
                <div class="inputForm">
                    <input type="text" class="input" placeholder="Nhập vào mật khẩu" name="password" value="<%=ListUsers.PassWord %>">
                    <span class="togglePassword"></span>
                </div>
    
               
                <label>Họ và tên</label>
                <div class="inputForm">
                    <input type="text" class="input" placeholder="Họ và tên" name="myname" value="<%= ListUsers.Full_name %>">
                </div>
    
                <label>Email</label>
                <div class="inputForm">
                    <input type="text" class="input" placeholder="Nhập vào email" name="email" value="<%= ListUsers.Email %>">
                </div>
    
                <label>Số điện thoại</label>
                <div class="inputForm">
                    <input type="number" class="input" placeholder="Số điện thoại" name="phone" value="<%= ListUsers ? ListUsers.Phone : '' %>">
                </div>
    
                <label>Địa chỉ</label>
                <div class="inputForm">
                    <input type="text" class="input" placeholder="Nhập vào địa chỉ" name="address" value="<%= ListUsers ? ListUsers.Address : '' %>">
                </div>
                <div class="inputForm">
                    <label for="quyen">Chọn quyền:</label>
                    <select id="quyen" name="quyen">
                        <option value="khachhang" <%= ListUsers && ListUsers.Role === 2 ? 'selected' : '' %>>Khách hàng</option>
                        <option value="nhanvien" <%= ListUsers && ListUsers.Role === 1 ? 'selected' : '' %>>Nhân viên</option>
                        <option value="nhanvien" <%= ListUsers && ListUsers.Role === 0 ? 'selected' : '' %>>------</option>
                    </select>
                    
                </div>
                
                <button class="button-submitt">Lưu</button>
    
            
            </form>
        </div>
    </div>
    <script src="/js/signup.js"></script>

</body>
</html>